eu.kalafatic.maintain.core/test/1.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="MANIFEST"><xs:complexType><xs:sequence><xs:element name="OUTPUT" type="xs:string"/><xs:element name="MACHINE"><xs:complexType><xs:sequence><xs:element name="METADATA"><xs:complexType><xs:sequence></xs:sequence></xs:complexType></xs:element><xs:element name="SERVICE"><xs:complexType><xs:sequence></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence><xs:attribute name="INPUT" type="xs:string"/></xs:complexType></xs:element></xs:schema>